# Build artifacts
*.class
*.jar
*.mf
*.MF

# Runtime artifacts
*.log
**/logs
*.csv

# IDE/project artifacts
*.classpath
*.metadata
*.settings
*.project
**/libs

# Assignment files
*.tgz
*.pdf

# ZooKeeper files
/BasicStorageServer/zookeeper/**
